.user-profile
  - if flash[:notice]
    %ul.notices
    - flash[:notice].each do |note|
      %li= note
  - if flash[:errors]
    %ul.errors
    - flash[:errors].each do |err|
      %li= err
  %h1= @user.username

  - if current_user == @user
    = link_to 'Edit', edit_user_path(@user)
    = button_to 'Delete', @user, method: :delete, data: {confirm: "Are you sure?"}

  - if current_user != @user && !current_user.is_friend?(@user) && !current_user.friends.include?(@user)
    %h4= button_to 'Add Friend', user_relationships_path(@user)

  - if current_user.is_friend?(@user) || current_user == @user
    %h3 Friends
    - if @user.friends
      - @user.friends.each do |friend|
        %h4= link_to "#{friend.username}", friend

    - if current_user == @user
      %h3 Pending Requests
      - if @user.friends
        - @user.pending_friends.each do |pending_friend|
          %p= link_to "#{pending_friend.username}", pending_friend

          - if current_user.request(pending_friend)[0]
            - request_id = current_user.request(pending_friend)[0]
            .button= button_to 'Accept Friend', user_relationship_path(@user.id, request_id), method: :put

    %h3 Game Library
    - if @user.games
      - @user.games.each do |game|
        %h4= link_to "#{game.name}", game
