.game-listing
  .stats
    %h3= link_to "#{game.name}", game
    %img{ src: "http:"+game.image_url }
    %p= "Time to Play: #{game.play_time} minutes"
    %p= "Players: #{game.min_players} - #{game.max_players}"
    %p= "Published: #{game.year_published}"
  .description-text
    %h4.description-title Description
    %p= raw game.description
  %p.read-more= link_to "Read more about this game!", game
  .this-funny-div
    = link_to pluralize(game.comments.count, "comment"), game_path(game), remote: true
    .game-comments[game]
      = render game.comments


