%h1.page-title List of Games
.sort-by
  %h1 Sort By:
  = button_to "A-Z", '/games/names', method: :get
  = button_to "Hot", '/games/popularity', method: :get
  .mechanic-box
    = form_tag '/games/mechanics' do
      = render @mechanics
      = submit_tag 'Filter'
.navigation= will_paginate @games
.games-list
  = render @games
.navigation= will_paginate @games
