.games-list
  %h1 List of Games
  %ul
    - @games.each do |game|
      %li
        %h3= link_to "#{game.name}", game
        %img{ src: "http:"+game.image_url }
        %ul.description
          %li= "Time to Play: #{game.play_time} minutes"
          %li= "Players: #{game.min_players} - #{game.max_players}"
          %li= "Published: #{game.year_published}"
        %h4 Description
        %p= game.description
