%h1.page-title List of Games
/ .navigation= will_paginate @games
.sort-by
  %h1 Sort By:
  = link_to "A-Z", '/games/names'
  = link_to "Hot", '/games/popularity'
  .mechanic-box
    = form_tag '/games/mechanics' do
      = render @mechanics
      = submit_tag 'Filter'
.games-list
  - @games.each do |game|
    = render game
/ .navigation= will_paginate @games
