.game-info
  %h1= @game.name
  %img{ src: "http:"+@game.image_url }
  - if current_user && !current_user.games.include?(@game)
    .button
      %p Add to Library
  %ul.description
    %li= "Time to Play: #{@game.play_time} minutes"
    %li= "Players: #{@game.min_players} - #{@game.max_players}"
    %li= "Published: #{@game.year_published}"
  %h4 Description
  %p= @game.description
