<!DOCTYPE html>
%html
  %head
    %title Boredgames
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Chicle'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Fresca'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %h1.title Bored? Games!
      %nav
        %span= button_to "Home", root_path, method: :get
        -if current_user
          %span= button_to current_user.username, current_user, method: :get
          %span= button_to 'Logout', "/logout", method: :delete
        -else
          %span= button_to "Register", '/users/new', method: :get
          %span= button_to "Login", "/login", method: :get                   
    .container
      - if flash[:notice]
        .notices
          - flash[:notice].each do |note|
            %p= note
      - if flash[:errors]
        .errors
          - flash[:errors].each do |err|
            %p= err 
      = yield
